/* File: index.css
   Author: alexandra miranda
   Website: alexandra-miranda.com
   github: allie199521
*/

body {
	background-color: #ffff3b;
	background-image: url("/../images/bo-play.png");
	background-repeat: repeat;
	background-size: 4px 4px;
}

