/* File: index.css
   Author: alexandra miranda
   Website: allie199521.github.io
   github: allie199521
*/

body {
	background-color: #ffff00; /*background color yellow*/
	background-image: url("../images/diagonal-striped-brick.png");
	background-repeat: repeat;
}

